.App-header {
  color: #007cc3;
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #007cc3;
  height: 60px;
}

.App-link {
  color: #61dafb;
}

#HeaderText {
  color: #007cc3;
  font-size: 18px;
  font-weight: 700;
}

#TableHeader {
  background-color: #007cc3;
  color: white;
  padding: 4px;
}

.TableWrapper {
  overflow-y: auto;
  height: 90vh;
  border-bottom: 2px solid grey;
}

.TableWrapper thead th {
  position: sticky;
  top: 0px;
}

#TableBody {
  background-color: white;
  color: black;
}

table {
  border-collapse: collapse;
}

tr {
  font-size: 16px;
}

#ResetButton {
  color: white;
  background-color: #007cc3;
  height: 40px;
  min-width: 100px;
  cursor: pointer;
  border: 1px solid white;
}

#ResetButton:hover {
  opacity: 0.5;
}

select {
  padding: 10px 20px;
  font-size: 16px;
}

.SpecificCantons {
  font-weight: 700;
  color: #007cc3;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #007cc3;
  background-color: white;
  padding: 4px 0px;
  border-top: 1px solid #007cc3;
}
